/*********** STYLE GUIDE **********/
:root {
  /************ COLORS ************/
  --orange: hsl(25, 97%, 53%);
  --pure-white: hsl(0, 0%, 100%);
  --mediumGrey: hsl(217, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(218, 11%, 8%);
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  --light-grey: hsl(216, 12%, 63%);

  /********* FONT FAMILY **********/
  --overpass: "Overpass", sans-serif;

  /********* FONT WEIGHTS *********/
  --fw400: 400;
  --fw700: 700;
}

/************* GENERAL ************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--overpass);
  background: var(--veryDarkBlue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body,
main {
  height: 100%;
}

.container {
  max-width: 32.7rem;
  max-height: 36rem;
  border-radius: 1.5rem;
  background: var(--black-gradient);
}

/******** RATING COMPONENT ********/
.rating-component {
  padding: 2.4rem 2.4rem 3.2rem;
}

.star-icon-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--darkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}

.header-main {
  color: var(--pure-white);
  font-size: 2.4rem;
  font-weight: var(--fw700);
  margin-bottom: 1rem;
}

.paragraph-text {
  color: var(--light-grey);
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;
}

.rating-numbers-container {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 2.4rem;
}

.rating-number {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background: var(--darkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mediumGrey);
  font-size: 1.4rem;
  font-weight: var(--fw700);
  line-height: 2.4rem;
  letter-spacing: 0.0175rem;
}

.submit-btn {
  display: block;
  border: none;
  border-radius: 2.25rem;
  background: var(--orange);
  max-width: 27.9rem;
  padding: 1.2rem 10.8rem;
  color: var(--pure-white);
  font-size: 1.4rem;
  font-family: var(--overpass);
  font-weight: var(--fw700);
  letter-spacing: 0.1867rem;
  transition: all 0.3s;
}

/********** HOVER STATES **********/
.submit-btn:is(:hover, :focus) {
  cursor: pointer;
  background: var(--pure-white);
  color: var(--orange);
  outline: none;
}

/******* 1440px MEDIA QUERY *******/
@media (min-width: 90em) {
  /*********** GENERAL ************/
  .container {
    max-width: 41.2rem;
    max-height: 41.6rem;
    border-radius: 3rem;
  }

  /******* RATING COMPONENT *******/
  .rating-component {
    padding: 3.2rem 3.9rem 3.2rem 3.2rem;
  }

  .star-icon-container {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 3rem;
  }

  .header-main {
    font-size: 2.8rem;
    margin-bottom: 0.7rem;
  }

  .paragraph-text {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .rating-numbers-container {
    gap: 2.15rem;
    margin-bottom: 3.2rem;
  }

  .rating-number {
    width: 5.1rem;
    height: 5.1rem;
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
  }

  .submit-btn {
    max-width: 34.1rem;
    padding: 1.1rem 13.8rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

/******* THANK YOU COMPONENT ******/
.thank-you-component {
  padding: 3.4rem 2.4rem 3.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration-container {
  max-width: 14.4rem;
  max-height: 9.6rem;
  margin-bottom: 2.4rem;
}

.illustration-img {
  max-width: 100%;
}

.selection-text {
  width: 16.8rem;
  height: 3.2rem;
  border-radius: 2.25rem;
  background: var(--darkBlue);
  color: var(--orange);
  font-size: 1.4rem;
  font-weight: var(--fw400);
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.9rem;
}

.sub-header-text {
  color: var(--pure-white);
  font-size: 2.4rem;
  font-weight: var(--fw700);
  margin-bottom: 1rem;
}

.thank-you-paragraph {
  color: var(--light-grey);
  text-align: center;
  font-size: 1.4rem;
  font-weight: var(--fw400);
  line-height: 2.2rem;
}

/******* 1440px MEDIA QUERY *******/
@media (min-width: 90em) {
  .thank-you-component {
    padding: 4.5rem 4rem 4.5rem 3.2rem;
  }

  .illustration-container {
    max-width: 16.2rem;
    max-height: 10.8rem;
    margin-bottom: 3.2rem;
  }

  .selection-text {
    width: 19.3rem;
    height: 3.2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 3.6rem;
  }

  .sub-header-text {
    font-size: 2.8rem;
    margin-bottom: 0.7rem;
  }

  .thank-you-paragraph {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

/* CLASSES USED WITH JAVASCRIPT */
.hovered {
  cursor: pointer;
  background: var(--mediumGrey);
  color: var(--pure-white);
}

.clicked {
  cursor: pointer;
  background: var(--orange);
  color: var(--pure-white);
}

.hidden {
  display: none;
}
